---
import Layout from "@/layouts/Layout.astro"
import { teamMembers } from "@/sections/Team.astro"
import TeamAbout from "@/sections/TeamAbout.astro"
import TeamHero from "@/sections/TeamHero.astro"

export function getStaticPaths() {
	return teamMembers.map(({ id }) => {
		return { params: { id } }
	})
}

const { id } = Astro.params

const [member] = teamMembers.filter((teamMember) => teamMember.id === id)

export const prerender = true
---

<Layout
	title={`Team Member: ${id} - TODO: create a title for this page`}
	description="TODO: Description"
	canonical="https://example.com"
>
	<TeamHero {...member} />
	<main>
		<TeamAbout />
	</main>
</Layout>
