---
import Layout from "@/layouts/Layout.astro"
---

<Layout description="TODO: Description" title="TODO: Title 404" canonical="https://example.com">
	<main>
		<h1>404</h1>
		<p>Page not found</p>
	</main>
</Layout>
