---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/sections/Hero.astro"
---

<Layout title="Feline Vets" description="TODO: Description" canonical="https://example.com">
	<Hero />
	<main></main>
</Layout>
