---
import Layout from "@/layouts/Layout.astro"
import About from "@/sections/About.astro"
import Hero from "@/sections/Hero.astro"
import Services from "@/sections/Services.astro"
---

<Layout title="Feline Vets" description="TODO: Description" canonical="https://example.com">
	<Hero />
	<main>
		<About />
		<Services />
	</main>
</Layout>
