---
import Layout from "@/layouts/Layout.astro"
import About from "@/sections/About.astro"
import Care from "@/sections/Care.astro"
import Feature from "@/sections/Feature.astro"
import Hero from "@/sections/Hero.astro"
import Instagram from "@/sections/Instagram.astro"
import Pet from "@/sections/Pet.astro"
import Pricing from "@/sections/Pricing.astro"
import Services from "@/sections/Services.astro"
import Team from "@/sections/Team.astro"
import Testimonial from "@/sections/Testimonial.astro"
---

<Layout title="Feline Vets" description="TODO: Description" canonical="https://example.com">
	<Hero />
	<main>
		<About />
		<Services />
		<Care />
		<Feature />
		<Testimonial />
		<Team />
		<Pet />
		<Pricing />
		<Instagram />
	</main>
</Layout>
