---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Feline Vets">
	<main>
		<h1>Feline Vets</h1>
		<p>Find a vet that specializes in cats.</p>
		<p>Coming soon...</p>
	</main>
</Layout>
