---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"div"> {
	alt?: string
}

const { "aria-label": ariaLabel, alt, ...rest } = Astro.props
---

<div
	style="-webkit-user-select: text;"
	aria-label={ariaLabel}
	role="button"
	tabindex="0"
	aria-controls="w-nav-overlay-0"
	aria-haspopup="menu"
	aria-expanded="false"
	class="w-nav-button relative float-right block size-7.5 select-text p-0 lg:hidden"
	{...rest}
>
	<div class="flex h-full w-full items-center justify-center">
		<img
			src="https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/hamburger.png"
			loading="lazy"
			alt={alt}
			class="my-auto inline-block h-[25px] w-7.5 max-w-full border-0 align-middle"
		/>
	</div>
	<div class="relative hidden size-7.5 overflow-hidden">
		<div class="h-auto w-full origin-[0_0] bg-secondary pt-[1.5px]"></div>
		<div class="my-0 h-auto w-full bg-secondary pt-[1.5px]"></div>
		<div class="h-auto w-full origin-[0_100%] bg-secondary pt-[1.5px]"></div>
	</div>
</div>
<style>
	.w-nav-button {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
</style>
