---
interface Props {
	href: string
	name: string
	id: string
	className?: string
}

const { href, name, id, className } = Astro.props
---

<a
	href={href}
	class:list={[
		"relative inline-block p-0 text-left align-top font-title text-xl font-bold leading-[1.875rem] tracking-[.02rem] hover:text-tertiary hover:[outline:0]",
		className,
	]}
	id={id}
>
	{name}
</a>
