---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {}

const { href, ...attrs } = Astro.props
---

<a
	href={href}
	class="inline-block rounded-[14px] border-[3px] border-solid border-secondary bg-transparent px-6 py-2.5 text-center font-title text-lg font-bold leading-[1.875rem] tracking-[.02rem] transition-all duration-300 ease-in-out hover:bg-secondary hover:text-bg-primary hover:[outline:0]"
	{...attrs}
>
	<slot />
</a>
