---
import PhoneIcon from "@/icons/PhoneIcon.astro"

type PhoneLinkVariant = "hero" | "service" | "care" | "faq"

interface Props {
	phone: string
	variant?: PhoneLinkVariant
}

const { phone, variant } = Astro.props

export const formatPhone = (phoneNumber: string) => {
	const formatted = phoneNumber.replace(/\s/g, "")
	return `(+57) ${formatted.slice(0, 3)} ${formatted.slice(3, 6)} ${formatted.slice(6)}`
}
---

<a
	href={`tel:+57${phone}`}
	class:list={[
		"mb-5 flex max-w-full flex-wrap items-center gap-1 sm:gap-3 md:mb-0 lg:gap-5",
		{
			"-order-1 justify-center sm:order-none sm:justify-normal": variant === "service",
			"-order-1 justify-center md:order-none lg:-order-1 xl:order-none xl:justify-normal":
				variant === "care",
			"sm:gap-2.5": variant === "faq",
		},
	]}
>
	<PhoneIcon
		class:list={[
			"inline-block h-10 w-10 max-w-full align-middle",
			{
				"text-primary": variant === "hero",
				"text-tertiary-light": variant === "service" || variant === "care" || variant === "faq",
				"hidden h-9 w-9 sm:inline-block": variant === "faq",
			},
		]}
	/>
	<h6
		class:list={[
			"font-subtitle font-extrabold",
			{
				"text-base xs:text-xl lg:text-3xl": variant === "hero",
				"text-base xs:text-lg lg:text-2xl": variant === "service" || variant === "care",
				"text-sm xs:text-base lg:text-xl": variant === "faq",
			},
		]}
	>
		LLámanos: {formatPhone(phone)}
	</h6>
</a>
