---
interface Props {
	href: string
}

const { href } = Astro.props
---

<a
	href={href}
	class="inline-block cursor-pointer rounded-[10px] border-0 bg-tertiary px-6 py-3.5 text-center font-title text-lg font-bold leading-[1.875rem] tracking-[.02rem] text-white transition-all duration-300 ease-in-out hover:bg-secondary hover:[outline:0]"
>
	<slot />
</a>
