---
import TeamSlide from "@/components/TeamSlide.astro"
import ArrowLeft from "@/icons/ArrowLeft.astro"
import ArrowRight from "@/icons/ArrowRight.astro"
import type { TeamMember } from "@/sections/Team.astro"

export interface Props {
	team: TeamMember[]
}

const { team } = Astro.props
---

<div
	class:list={[
		"team-slider relative clear-both flex h-auto w-full max-w-[1065px] overflow-hidden bg-transparent pb-[5.625rem] text-center md:pb-28",
		{
			"mx-auto max-w-[315px]": team.length === 1,
			"mx-auto max-w-[690px]": team.length === 2,
		},
	]}
	role="region"
	aria-label="carousel"
>
	<div
		id="slider-mask-1"
		class:list={[
			"relative left-0 right-0 z-1 block h-full w-full max-w-none overflow-visible whitespace-nowrap md:w-[47%] lg:h-auto lg:w-full lg:max-w-[315px]",
		]}
	>
		{
			team.map((member, index) => (
				<TeamSlide {...member} ariaLabel={`${index + 1} de ${team.length}`} />
			))
		}
		<div
			aria-live="off"
			aria-atomic="true"
			class:list={[
				"team-aria-label absolute -m-px h-px w-px overflow-hidden border-0 p-0 [clip:rect(0_0_0_0)]",
				{
					"md:hidden": team.length <= 2,
				},
			]}
		>
		</div>
	</div>
	<div
		role="button"
		tabindex="0"
		aria-controls="slider-mask-1"
		aria-label="team previous slide"
		class:list={[
			"absolute -left-[58.5px] bottom-0 right-0 top-auto z-[3] m-auto h-11 w-11 cursor-pointer select-none flex-col items-center justify-center overflow-hidden rounded-full border-[2.5px] border-solid border-secondary text-xs text-secondary transition-all duration-300 ease-in-out hover:border-tertiary hover:bg-bg-primary hover:text-tertiary",
			{
				"flex md:hidden": team.length <= 2,
			},
		]}
	>
		<div class="flex items-center justify-center">
			<ArrowLeft />
		</div>
	</div>
	<div
		role="button"
		tabindex="0"
		aria-controls="slider-mask-1"
		aria-label="team next slide"
		class:list={[
			"absolute -right-[58.5px] bottom-0 left-0 top-auto z-[3] m-auto h-11 w-11 cursor-pointer select-none flex-col items-center justify-center overflow-hidden rounded-full border-[2.5px] border-solid border-secondary text-xs text-secondary transition-all duration-300 ease-in-out hover:border-tertiary hover:bg-bg-primary hover:text-tertiary",
			{
				"flex md:hidden": team.length <= 2,
			},
		]}
	>
		<div class="flex items-center justify-center">
			<ArrowRight />
		</div>
	</div>
</div>
<script>
	import { $, $$ } from "@/lib/dom-selector"

	function TeamSliderAnimation() {
		const $slides = $$(".team-slide")
		const $prevButton = $("[aria-label='team previous slide']")
		const $nextButton = $("[aria-label='team next slide']")
		const $teamAriaLabel = $(".team-aria-label")
		let currentSlide = 0
		let sliderInterval = 0

		const isMobile = window.matchMedia("(max-width: 425px)").matches

		function updateButtonState() {
			if ($slides.length > 2 || isMobile) {
				$prevButton.style.display = currentSlide === 0 ? "none" : "flex"
				$nextButton.style.display = currentSlide === $slides.length - 1 ? "none" : "flex"
			}
		}

		function showSlide(index: number) {
			const $currentSlide = $slides[index] as HTMLElement
			const slideWidth = $slides[0].clientWidth
			const marginRight = Number.parseFloat(getComputedStyle($currentSlide).marginRight)
			const slideSpace = slideWidth + marginRight
			const translation = -slideSpace * index

			$slides.forEach((slide, idx) => {
				const $htmlSlide = slide as HTMLElement
				$htmlSlide.style.transform = `translateX(${translation}px)`
				$htmlSlide.setAttribute("aria-hidden", idx !== index ? "true" : "false")
			})

			$teamAriaLabel.textContent = `Miembro ${index + 1} de ${$slides.length}`

			updateButtonState()
		}

		function nextSlide() {
			currentSlide = (currentSlide + 1) % $slides.length
			showSlide(currentSlide)
		}

		function prevSlide() {
			currentSlide = (currentSlide - 1 + $slides.length) % $slides.length
			showSlide(currentSlide)
		}

		function startSlider() {
			if (isMobile) {
				sliderInterval = setInterval(nextSlide, 6000)
			}
		}

		function stopSlider() {
			if (isMobile && sliderInterval) {
				clearInterval(sliderInterval)
			}
		}

		$prevButton.addEventListener("click", () => {
			stopSlider()
			prevSlide()
			startSlider()
		})
		$nextButton.addEventListener("click", () => {
			stopSlider()
			nextSlide()
			startSlider()
		})

		window.addEventListener("blur", () => stopSlider)
		window.addEventListener("focus", () => startSlider)

		updateButtonState()
		startSlider()
	}

	document.addEventListener("DOMContentLoaded", TeamSliderAnimation)
</script>
