---

---

<section
	class="w-full overflow-hidden bg-[url(/img/hero/hero-asset.svg)] bg-cover bg-[50%] bg-no-repeat pt-60"
>
	<div class="mx-auto block h-full w-full max-w-content px-7.5" style="height: 700px;"></div>
</section>
