---
import MainContainer from "@/components/MainContainer.astro"
import PhoneLink from "@/components/PhoneLink.astro"
import PrimaryButton from "@/components/PrimaryButton.astro"
import Decorative from "@/icons/Decorative.astro"
---

<section
	class="w-full overflow-hidden bg-[url(/img/hero/hero-asset.svg)] bg-[auto_85%] bg-[50%_0] bg-no-repeat pt-40 md:pt-48 lg:bg-cover lg:bg-[50%] lg:pt-56"
>
	<MainContainer>
		<div class="flex flex-col items-center justify-start gap-x-[90px] lg:flex-row lg:items-start">
			<div
				class="relative z-1 flex w-full max-w-none flex-none flex-col items-start gap-y-5 md:gap-y-8 lg:max-w-2xl lg:gap-y-12"
			>
				<h1 class="my-0 font-title text-5xl font-black -tracking-[.1rem] md:text-7xl lg:text-8xl">
					Salud y felicidad para tus queridos felinos
				</h1>
				<div class="max-w-none lg:max-w-xl">
					<p class="text-xl font-semibold leading-8 text-neutral-700">
						Pasa tiempo de calidad con tu mascota, brindándole afecto, atención y refuerzo positivo.
					</p>
				</div>
				<PhoneLink phone="9999999999" variant="hero" />
				<PrimaryButton href="#services"> Nuestros servicios </PrimaryButton>
				<Decorative
					class="absolute bottom-0 left-auto right-0 top-auto -z-1 inline-block w-16 max-w-full rotate-12 align-middle text-tertiary md:w-24 lg:-right-[6rem] lg:bottom-0 lg:left-auto lg:top-16"
				/>
			</div>
			<div class="h-auto w-full max-w-3xl flex-none pb-20 pt-10 sm:pt-0">
				<img
					src="/img/hero/hero-image.webp"
					loading="lazy"
					sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 77vw, 755px"
					srcset="/img/hero/hero-image_500.webp 500w, /img/hero/hero-image_800.webp 800w, /img/hero/hero-image_1080.webp 1080w, /img/hero/hero-image.webp 1578w"
					alt="Imagen principal de la página de inicio de Feline Vets"
					class="h-full w-full object-contain"
				/>
			</div>
		</div>
	</MainContainer>
</section>
