---
import InstagramFeed from "@/components/InstagramFeed.astro"
import MainContainer from "@/components/MainContainer.astro"
import OutlineButton from "@/components/OutlineButton.astro"
import InstagramIcon from "@/icons/InstagramIcon.astro"
---

<section class="block bg-bg-secondary py-20 md:py-24 lg:py-36">
	<MainContainer>
		<div
			class="flex flex-col items-center justify-center gap-y-[3.75rem] text-center md:gap-y-[4.375rem]"
		>
			<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
				Síguenos en Instagram
			</h2>
			<InstagramFeed />
			<OutlineButton target="_blank" href="https://www.instagram.com/felinevets">
				Síguenos en Instagram <InstagramIcon class:list={"inline-block h-8 w-8"} />
			</OutlineButton>
		</div>
	</MainContainer>
</section>
