---
import Jumplink from "@/components/Jumplink.astro"
import MainContainer from "@/components/MainContainer.astro"
import Card from "@/components/PricingCard.astro"
import Tag from "@/components/Tag.astro"
import FeatureDecorative from "@/icons/FeatureDecorative.astro"

interface Point {
	text: string
	included: boolean
}

type Service = string

export interface PricingCard {
	price: number
	serviceName: string
	points: Point[]
	img: string
}

enum Plan {
	BASIC = 3,
	INTERMEDIATE = 5,
}

const services: Array<Service> = [
	"Baño",
	"Chequeo de estado físico",
	"Aseo",
	"Cuidado de pelo y uñas",
	"Cepillado y secado",
	"Control de caída de pelo",
]

const pricingCards: PricingCard[] = [
	{
		price: 100000,
		serviceName: "Plan Básico",
		points: services.map((service, index) => ({
			text: service,
			included: index + 1 <= Plan.BASIC,
		})),
		img: "https://assets.website-files.com/64c6509af4f1dbee2c40401e/64c75aec845988b3d1fbc877_Pricing%20Image.webp",
		// img: "/img/pricing/regular.webp",
	},
	{
		price: 200000,
		serviceName: "Plan Intermedio",
		points: services.map((service, index) => ({
			text: service,
			included: index + 1 <= Plan.INTERMEDIATE,
		})),
		img: "https://assets.website-files.com/64c6509af4f1dbee2c40401e/64c75aec845988b3d1fbc877_Pricing%20Image.webp",
		// img: "/img/pricing/medium.webp",
	},
	{
		price: 300000,
		serviceName: "Plan Premium",
		points: services.map((service) => ({ text: service, included: true })),
		img: "https://assets.website-files.com/64c6509af4f1dbee2c40401e/64c75aec845988b3d1fbc877_Pricing%20Image.webp",
		// img: "/img/pricing/premium.webp",
	},
]
---

<section class="relative block bg-primary py-36">
	<MainContainer>
		<div class="flex flex-col items-center justify-center gap-y-20">
			<div class="relative z-1 flex flex-col items-center justify-center gap-y-7.5 text-center">
				<Tag text="Nuestros planes" />
				<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
					Servicios de calidad a tu alcance para tu mascota
				</h2>
				<FeatureDecorative
					class="absolute -left-[200px] -top-2.5 bottom-auto right-auto -z-1 w-20 text-tertiary"
				/>
			</div>
			<div class="flex w-full items-start justify-center gap-x-14">
				{pricingCards.map((pricingCard, key) => <Card {...pricingCard} key={key} />)}
			</div>
		</div>
	</MainContainer>
	<Jumplink id="Pricing" />
</section>
