---
import MainContainer from "@/components/MainContainer.astro"
import type { TeamMember } from "@/sections/Team.astro"

type Props = Pick<TeamMember, "about" | "experience"> & {
	aboutTitle: string
	experienceTitle: string
}

const { about, experience, aboutTitle, experienceTitle } = Astro.props
---

<section class="block pb-36">
	<MainContainer>
		<div class="relative flex max-w-4xl flex-col items-start justify-start text-left">
			<h2
				class="absolute -top-32 bottom-auto left-0 right-auto my-0 font-title text-3xl font-black -tracking-[.0625rem] md:text-5xl"
			>
				{aboutTitle}
			</h2>
			<Fragment set:html={about} />
			<h3 class="mb-8 font-title text-2xl font-black -tracking-[.0625rem] md:text-4xl">
				{experienceTitle}
			</h3>
			<Fragment set:html={experience} />
		</div>
	</MainContainer>
</section>
