---
import Jumplink from "@/components/Jumplink.astro"
import MainContainer from "@/components/MainContainer.astro"
import Tag from "@/components/Tag.astro"
import TeamSlider from "@/components/TeamSlider.astro"
import type { Member } from "@/consts/team"
import { allMembers } from "@/consts/team"
import { getI18N } from "@/i18n"
import TeamDecorative from "@/icons/TeamDecorative.astro"

export interface TeamMember extends Member {
	name: string
	role: string
	about?: string
	imgAlt?: string
	experience?: string
}

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const teamMembers: TeamMember[] = allMembers.map((member, idx) => ({
	id: member.id,
	name: i18n.TEAM.MEMBERS[idx].NAME,
	role: i18n.TEAM.MEMBERS[idx].ROLE,
	image: member.image,
	phone: member.phone,
	email: member.email,
	instagram: member.instagram,
	customStyle: member.customStyle,
	about: i18n.TEAM.MEMBERS[idx].ABOUT,
	years: member.years,
	experience: i18n.TEAM.MEMBERS[idx].EXPERIENCE,
	imgAlt: i18n.TEAM.MEMBERS[idx].IMG_ALT,
}))
---

<section class="relative block w-full overflow-hidden bg-tertiary-light py-20 md:py-24 lg:py-36">
	<MainContainer>
		<div class="flex flex-col items-center justify-center gap-y-20 text-center">
			<div class="relative z-1 flex flex-col items-center justify-center gap-y-4 lg:gap-y-6">
				<Tag text={i18n.TEAM.TAG} />
				<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
					{i18n.TEAM.TITLE}
				</h2>
				<TeamDecorative
					class="absolute -left-[200px] -top-2.5 bottom-auto right-auto -z-1 w-14 rotate-45 text-tertiary md:w-20"
				/>
			</div>
			<TeamSlider team={teamMembers} />
		</div>
	</MainContainer>
	<Jumplink id="Our-Team" />
</section>
