---
import Jumplink from "@/components/Jumplink.astro"
import MainContainer from "@/components/MainContainer.astro"
import TestimonialSlider from "@/components/TestimonialSlider.astro"
import { getI18N } from "@/i18n"
import Decorative from "@/icons/Decorative.astro"

export interface Testimonial {
	name: string
	bigQuote: string
	quote: string
	image: string
	image500?: string
	image783?: string
	role: string
}

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const testimonials: Testimonial[] = [
	{
		name: "Valeria Berrío",
		bigQuote: i18n.TESTIMONIAL.ITEMS[0].BIG_QUOTE,
		quote: i18n.TESTIMONIAL.ITEMS[0].QUOTE,
		image: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-1.webp",
		image500: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-1_500.webp",
		role: i18n.TESTIMONIAL.ITEMS[0].ROLE,
	},
	{
		name: "Ximena Acevedo",
		bigQuote: i18n.TESTIMONIAL.ITEMS[1].BIG_QUOTE,
		quote: i18n.TESTIMONIAL.ITEMS[1].QUOTE,
		image: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-2.webp",
		image500: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-2_500.webp",
		role: i18n.TESTIMONIAL.ITEMS[1].ROLE,
	},
	{
		name: "Johny Ortiz",
		bigQuote: i18n.TESTIMONIAL.ITEMS[2].BIG_QUOTE,
		quote: i18n.TESTIMONIAL.ITEMS[2].QUOTE,
		image: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-3.webp",
		image500: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/testimonial-3_500.webp",
		role: i18n.TESTIMONIAL.ITEMS[2].ROLE,
	},
]
---

<section class="relative block w-full overflow-hidden py-20 md:py-24 lg:pb-36 lg:pt-40">
	<MainContainer>
		<div class="flex flex-col items-center justify-center gap-y-16 text-center lg:gap-y-20">
			<div class="relative z-1 flex w-full max-w-4xl flex-col gap-y-3.5 lg:gap-y-5">
				<h3 class="font-subtitle text-sm font-extrabold uppercase tracking-[.175rem]">
					{i18n.TESTIMONIAL.TAG}
				</h3>
				<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
					{i18n.TESTIMONIAL.TITLE}
				</h2>
				<Decorative
					class:list={"absolute -right-7 -top-5 bottom-auto left-auto -z-1 w-14 -rotate-45 text-tertiary md:-right-[100px] md:w-20"}
				/>
			</div>
			<TestimonialSlider testimonials={testimonials} />
		</div>
	</MainContainer>
	<Jumplink id="Testimonial" />
</section>
