---
import Jumplink from "@/components/Jumplink.astro"
import MainContainer from "@/components/MainContainer.astro"
import TestimonialSlider from "@/components/TestimonialSlider.astro"
import Decorative from "@/icons/Decorative.astro"

export interface Testimonial {
	name: string
	bigQuote: string
	quote: string
	image: string
	image500?: string
	image783?: string
	role: string
}

const testimonials: Testimonial[] = [
	{
		name: "Valeria Berrío",
		bigQuote: "“Atención veterinaria de confianza”",
		quote:
			"Mi gato recibió servicios excepcionales, garantizando su comodidad y tranquilidad en todo momento. Las doctoras fueron pacientes, hábiles y obtuvieron resultados fantásticos. Recomiendo encarecidamente sus servicios para cualquiera que busque una veterinaria cuidadosa y talentosa.",
		image: "/img/testimonials/testimonial-1.webp",
		image500: "/img/testimonials/testimonial-1_500.webp",
		role: "Amante de los gatos",
	},
	{
		name: "Ximena Acevedo",
		bigQuote: "“Una experiencia extraordinaria”",
		quote:
			"Las cuidadoras eran atentas, cariñosas y proporcionaban actualizaciones regulares sobre las actividades de mi gato. Estaba claro que trataba a mis gatos con el mismo amor que si fueran parte de su propia familia. ¡No dudaría en confiar nuevamente en ellas para cuidar de mis pequeños!",
		image: "/img/testimonials/testimonial-2.webp",
		image500: "/img/testimonials/testimonial-2_500.webp",
		role: "Amante de los gatos",
	},
	{
		name: "Johny Ortiz",
		bigQuote: "“Un equipo apasionado por los animales”",
		quote:
			"El equipo realmente va más allá por sus pacientes peludos. Desde el momento en que las vi trabajar, pude sentir el calor y el amor genuino que tienen por los animales. Me sentí tranquilizado y confiado en su experiencia. Mi mascota recibió atención médica de primera clase, y estoy agradecido por su compasión y dedicación.",
		image: "/img/testimonials/testimonial-3.webp",
		image500: "/img/testimonials/testimonial-3_500.webp",
		role: "Amante de los gatos",
	},
]
---

<section class="relative block w-full overflow-hidden py-20 md:py-24 lg:pb-36 lg:pt-40">
	<MainContainer>
		<div class="flex flex-col items-center justify-center gap-y-16 text-center lg:gap-y-20">
			<div class="relative z-1 flex w-full max-w-4xl flex-col gap-y-3.5 lg:gap-y-5">
				<h3 class="font-subtitle text-sm font-extrabold uppercase tracking-[.175rem]">
					Testimonios
				</h3>
				<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
					...que reflejan nuestro compromiso
				</h2>
				<Decorative
					class:list={"absolute -right-7 -top-5 bottom-auto left-auto -z-1 w-14 -rotate-45 text-tertiary md:-right-[100px] md:w-20"}
				/>
			</div>
			<TestimonialSlider testimonials={testimonials} />
		</div>
	</MainContainer>
	<Jumplink id="Testimonial" />
</section>
