---
import type { HTMLAttributes } from "astro/types"

type ButtonType = "primary" | "secondary" | "tertiary"

interface Props extends HTMLAttributes<"button"> {
	variant?: ButtonType
}

const { class: classes, variant = "primary", ...attrs } = Astro.props
---

<button
	class:list={[
		"inline-block cursor-pointer rounded-[10px] border-0 px-6 py-3.5 text-center font-title text-lg font-bold leading-[1.875rem] tracking-[.02rem] text-white transition-all duration-300 ease-in-out hover:[outline:0]",
		{
			"bg-tertiary hover:bg-secondary": variant === "primary",
			"bg-secondary hover:bg-bg-primary hover:text-secondary": variant === "secondary",
			"mr-auto bg-secondary hover:bg-tertiary md:mr-0": variant === "tertiary",
		},
		classes,
	]}
	{...attrs}
>
	<slot />
</button>
